*{
  overflow: initial;  
}
@import "./variable";
@mixin theme($dark-theme) {
  @if $dark-theme {
    background-color: darken($background-color, 100%);
    color: lighten($text-color, 10%);
  }
}
// @mixin dark-theme-hover( $on-hover) {
//   @if $on-hover {
//     color: lighten($on-hover-color, 80%);
//   }
// }
.dark {
  @include theme($dark-theme: true);
}
.back {
  font-weight: bold;
  font-size: 20px;
  word-spacing: 0px;
  text-decoration: none;
}
.back:hover {
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
  //   @include dark-theme-hover($on-hover: true);
}

.heading-container {
  margin-bottom: 30px;
}
.heading {
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline;
}
.heading:hover{
  color: $title-color;
}
.quote {
  color: $title-color;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 2em;
  font-weight: bold;
  //   background-color: $background-color;
  font-family: monospace;
}
.quote2{
  //   display: inline;
  color: $title-color;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  // background-color: $background-color;
  font-weight: bold;
  font-family: monospace;
  font-size: 18px;
}
.quote2:hover{
  transform: translateY(-5px);
}
body {
  padding-left: 8vw;
  padding-right: 5vw;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $background-color;
  font-family: monospace;
  box-sizing: border-box;
  color: $text-color;
  margin: 35px 0 35px 0px;
}

.title {
  display: flex;
  margin: 0;
  margin-bottom: 0px;
  padding-top: 3vh;
  text-align: start;
}

.txt {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 4vh;
  padding-right: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 20px;
}
.txt:hover{
  transition: all 0.4s ease-in-out;
  transform: translateX(10px);
}

p {
  display: absolute;
  color: $text-color;
  font-weight: bold;
}

.back-container {
  margin-top: 30px;
}